<form [formGroup]="forgotForm" (ngSubmit)="Submit()">

    <div class="container d-flex flex-column mt-5 justify-content-center">
        <label class="font-weight-bold mt-2" for="email">Email</label>
        <input type="text" placeholder="Enter Email" name="email" formControlName="email">
        <label class="font-weight-bold mt-2" for="DOB">DOB</label>
        <input type="date" placeholder="Enter DOB" name="DOB" formControlName="DOB">
        <label class="font-weight-bold mt-2" for="password">New Password</label>
        <input type="password" name="password" placeholder="Enter Password" formControlName="password">
        <label class="font-weight-bold mt-2" for="cpassword">Confirm Password</label>
        <input type="password" name="cpassword" placeholder="Confirm Password" formControlName="cpassword">
        <button class="mt-4 btn btn-success" [disabled]="!forgotForm.valid">Reset Password</button>
        <span class="psw mt-2"><a routerLink="/login">Login Account</a></span>
    </div>

</form>