<nav style="margin-top: 50px;" class="navbar navbar-expand-md fixed-top">
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto mt-2">
            <li class="nav-item ml-3" routerLinkActive="active">
                <img (click)="ViewByCategory('Mobile')" src="../../../../../assets/images/mobile-icon.PNG" alt="">
            </li>
            <li class="nav-item ml-4" routerLinkActive="active">
                <img (click)="ViewByCategory('Fashion')" src="../../../../../assets/images/fashion-icon.PNG" alt="">
            </li>
            <li class="nav-item ml-5" routerLinkActive="active">
                <img (click)="ViewByCategory('Electronics')" src="../../../../../assets/images/electronic-icon.PNG" alt="">
            </li>
            <li class="nav-item ml-5" routerLinkActive="active">
                <img (click)="ViewByCategory('Furniture')" src="../../../../../assets/images/furniture-icon.PNG" alt="">
            </li>
        </ul>
    </div>
</nav>
<div style="margin-top:70px;" class="container-fluid row">
    <div *ngFor="let pro of displayProduct" class="col-md-6">
        <div class="col-xs-12 col-md-12 bootstrap snippets bootdeys">
            <div class="product-content product-wrap clearfix">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="product-image">
                            <img height="300px" src="../../../../../{{pro.imageUrl}}" alt="Product Image" class="img-responsive">
                            <span class="tag2 hot">
                                    HOT
                                </span>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="product-deatil">
                            <h5 class="name">
                                <a href="#">{{pro.title}}<span>{{pro.category}}</span></a>
                            </h5>
                            <p class="price-container">
                                <span>₹{{pro.price}}</span>
                            </p>
                            <span class="tag1"></span>
                        </div>
                        <div class="description">
                            <p class="show" style="white-space: nowrap; overflow: hidden; text-overflow:ellipsis; max-width:150ch;">{{pro.description}}</p>
                        </div>
                        <div class="product-info smart-form">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <button (click)="AddToCart(pro)" class="btn btn-success">Add to cart</button>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <!-- <div class="rating">
                                        <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                                        <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                                        <label for="stars-rating-3"><i class="fa fa-star text-primary"></i></label>
                                        <label for="stars-rating-2"><i class="fa fa-star text-primary"></i></label>
                                        <label for="stars-rating-1"><i class="fa fa-star text-primary"></i></label>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>